<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bg.examples.my.androidexamples">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ShowMoreTextViewActivity"></activity>
        <activity
            android:name=".ScrollingMapActivity"
            android:label="@string/title_activity_scrolling_map"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SelfCallActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MultipleColumnsGridActivity" />
        <activity android:name=".TouchActivity" />
        <activity android:name=".LocalizedActivity" />
        <activity android:name=".RoundedButtons" />
        <activity android:name=".StartActivityAndGetResult" />
        <activity android:name=".LoadFromAssetsActivity" />
        <activity android:name=".StartActivityAndGetResultChild" />
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LoadSaveFile" />
    </application>

</manifest>